@font-face {
  font-family: 'RobotoMono';
  src: url('./Fonts/RobotoMono-Thin.ttf');
}

*{

  font-family: 'RobotoMono',monospace;
}
body {

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(35, 7, 77), rgb(204, 83, 51));
}



/* aula 34 - estilo - css
para achar diferentes tipos de gradientes: digitar pretty gradientes e entrar no site UIgradientes.
inspecionar e achar style.  */
